---
---
@import  "reset";
@import "variables";
@import url("https://use.typekit.net/bev1xyx.css");
$paralucent: paralucent, sans-serif;

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 32px/1.5 $paralucent;
  font-weight: 200;
  color: $darkGray;
  padding: 5% 10%;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  letter-spacing: 0.05em;
}

h1,
h2 {
  max-width: 100%;
  font-family: $paralucent;
  color: $darkGray;
  font-weight: 700;
  line-height: 1.1;
  margin: 1em 0 0.5em;
  padding: 0;
  @include mobile {
   max-width: 100%;
  }
}

h1 {
  font-size: 2em;
  @include mobile {
   font-size: 1.2em;
  }
}

h2 {
  font-size: 1.5em;
}

p {
  margin: 1em 0;
  letter-spacing: 0.05em;
  a {
   border-bottom: 1px solid $darkGray;
  }
  @include mobile {
   font-size: 0.75em;
  }
}
pre {
 font-size: 0.5em;
  a {
   border-bottom: 1px solid $darkGray;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:active,
  &:hover {
    color: rgba($black, 0.3);
  }
}

ol,
ul {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

ol ul,
ul ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}
// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $darkGray;
}
// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $darkGray;
}

::selection {
  color: $black;
  background: $darkGray;
}
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

blockquote {
  margin: 1.8em 0.8em;
  border-left: 2px solid $darkGray;
  padding: 0.1em 1em;
  color: $darkGray;
  font-size: 22px;
  font-style: italic;
}

footer {
  padding: 20px 0;
  text-align: center;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";